.concepts {
  width: 100%;
  /* height: 100vh; */
  /* background-color: darkcyan; */

  margin-top: 96px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 48px;
  padding-right: 48px;
}

.concepts p {
  margin-bottom: 48px;
}

.concepts-container {
  width: 100%;
  max-width: 986px;

  /* background-color: darkmagenta; */

  margin-top: 48px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 80px;
}

.concepts-image {
  max-width: 345px;
  width: 100%;
  /* height: 207px; */
  /* background-color: #080808; */

  aspect-ratio: 5/3;
}
.show-later {
  display: none;
}
.concept-text-container {
  /* background-color: darkgreen; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;
}

.concept-text-container h3 {
  font-family: var(--font-hanken), sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: normal;

  /* background-color: orange; */
}

.concept-text-container p {
  width: 100%;
  max-width: 560px;

  font-family: var(--font-hanken), sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.45px;

  /* background-color: palevioletred; */

  margin-bottom: 0px;

  color: #d9d9d9;
}

@media screen and (max-width: 850px) {
  .concepts {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 770px) {
  .concepts {
    padding-left: 24px;
    padding-right: 24px;
  }

  .concepts-container {
    flex-direction: column;
    align-items: center;

    gap: 48px;
  }

  .concepts-image {
    max-width: 490px;
  }

  .concept-text-container {
    width: 100%;
  }
  .show-later {
    display: flex;
  }
  .hide-later {
    display: none;
  }
}
