.contributing {
    width: 100%;
    height: 100vh;
    /* background-color: darkcyan; */

    margin-top: 96px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 48px;
}

.contributing-boxes-container {
    max-width: 986px;
    /* background-color: red; */
    width: 100%;

    margin-top: 96px;

    display: flex;
    flex-direction: row;

    gap: 20px;
}

.contributing-box {
    max-width: 315px;
    width: 100%;
    max-height: 266px;
    /* height: fit-content; */
    /* background-color: blue; */

    padding: 25px 37px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    border-radius: 8px;

    border: 1px solid #181818;

    cursor: pointer;

}

.contributing-box:hover {
    background-color: #181818;
}

.contributing-box-top {
    font-family: var(--font-hanken), sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: normal;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;

    cursor: pointer;

    width: 100%;
    /* background-color: brown; */
}

.contributing-box-top-image {
    width: 24px;
    height: 24px;
}

.contributing-box-bottom {
    font-family: var(--font-hanken), sans-serif;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #d9d9d9;
}

@media screen and (max-width: 850px) {
    .contributing {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 770px) {
    .contributing {
        padding-left: 24px;
        padding-right: 24px;

    }

    .contributing-boxes-container {


        display: flex;
        flex-direction: column;

        margin-top: 68px;
    }

    .contributing-box {
        max-width: 100%;
    }

}