.advantages {
  width: 100%;
  height: 100vh;
  /* background-color: rebeccapurple; */

  display: flex;
  flex-direction: column;

  margin-top: 96px;

  padding: 0px 48px;

  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: -1px;
  font-family: var(--font-hanken), sans-serif;
}

.advantages h2 {
  width: 100%;
  /* background-color: red; */

  display: flex;
  flex-direction: row;

  justify-content: center;
}

.advantages p {
  font-family: var(--font-hanken), sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: normal;

  display: flex;
  flex-direction: row;

  justify-content: center;

  /* background-color: blue; */

  margin-top: 12px;
}

.advantages-boxs-container {
  width: 100%;
  /* background-color: green; */

  display: flex;
  flex-direction: row;

  justify-content: center;
}

.advantages-boxes {
  width: 100%;
  max-width: 986px;
  /* height: 235.75px; */
  /* background-color: yellow; */

  display: flex;
  flex-direction: row;

  justify-content: center;

  gap: 32px;

  flex-wrap: wrap;

  margin-top: 96px;

}

.advantages-box {
  width: 100%;
  min-width: 284px;
  max-width: 308px;
  /* background-color: navy; */

  display: flex;
  flex-direction: column;

  flex: 1;

}

.advantages-box-icon-header {
  width: 100%;
  /* background-color: red; */

  display: flex;
  flex-direction: row;

  gap: 12px;
}

.advantages-box-icon {
  width: 28px;
  height: 28px;
  /* background-color: rebeccapurple; */

  color: HSL(208, 65%, 52%);
}

.advantages-box-icon-header h3 {
  font-family: var(--font-hanken), sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: normal;

  /* background-color: aqua; */
}

.advantages-box p {
  font-family: var(--font-hanken), sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.45px;
  color: #d9d9d9;

  /* background-color: violet; */
}

@media screen and (max-width: 1022px) {
  .advantages-box {
    max-width: 440px;
    min-width: 313px;
  }
}

@media screen and (max-width: 768px) {
  .advantages-boxes {
    justify-content: start;
  }

  .advantages-boxes {
    margin-top: 64px;
  }
}

@media screen and (max-width: 850px) {
  .advantages {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 770px) {
  .advantages {
    padding-left: 24px;
    padding-right: 24px;

  }
}