.title {
  width: 100%;
  /* height: 100vh; */
  /* background-color: purple; */

  padding-top: 150px;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding-left: 48px;
}

.title-container {
  /* background-color: red; */

  display: flex;
  flex-direction: column;

  justify-content: center;

  /* width: fit-content; */
  max-width: 1025px;
  width: 100%;
}

.title-manual-container {
  width: fit-content;

  padding: 6px 12px;

  border-radius: 100px;
  background-color: hsla(0, 0%, 85%, 8%);
  cursor: pointer;

  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 7px;
}

.title-manual-container:hover {
  background-color: #151515;
}

.title-manual-container span {
  font-family: var(--font-hanken), sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: normal;
  letter-spacing: -0.35px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-manual-container:hover span {
  color: #cecece;
}

.circle {
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 100;
}

.title-container h1 {
  font-family: var(--font-hanken), sans-serif;
  /* font-size: 48px; */
  font-size: 3rem;
  line-height: 49px;
  font-weight: 700;

  margin-top: 18px;
}

.title-container p {
  max-width: 512px;
  font-family: var(--font-hanken), sans-serif;
  /* font-size: 20px; */
  font-size: 1.25rem;
  line-height: 27.5px;
  font-weight: 400;
  letter-spacing: normal;

  margin-top: 16px;
}

.title-dowload-button {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 8px;

  align-items: center;

  background-color: HSL(208, 65%, 52%);
  color: black;

  padding: 6px 20px;

  border-radius: 100px;

  margin-top: 28px;

  cursor: pointer;
}

.title-dowload-button:hover {
  background-color: #3a7aaf;
}

.title-dowload-button span {
  font-family: var(--font-hanken), sans-serif;
  /* font-size: 18px; */
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.45px;
}

.arrow {
  width: 20px;
  height: 20px;
  background-color: purple;
}

@media screen and (max-width: 850px) {
  .title {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 770px) {
  .title {
    padding-left: 24px;
    padding-right: 24px;

    padding-top: 95px;
  }

  .title-container h1 {
    font-size: 2.5rem;
  }
}