.downloads {
    width: 100%;
    height: 200vh;
    /* background-color: cadetblue; */

    margin-top: 96px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 48px;

}

.anki-description-link {
    color: #5DA9DF;
}

.desktop-download-container,
.mobile-download-container {
    max-width: 986px;
    width: 100%;
    /* background-color: darkcyan; */

    margin-top: 96px;

    border-top: 1px solid #181818;

    display: flex;
    flex-direction: column;

    padding-top: 55px;
    padding-bottom: 55px;

    gap: 32px;




}

.destop-download-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */

    gap: 32px;
}

.mobile-download-container {
    margin-top: 0px;
}

.destop-download-left {
    /* background-color: blueviolet; */

    width: 100%;
    max-width: 380px;
    height: fit-content;

    display: flex;
    flex-direction: column;

    gap: 16px;
}

.destop-download-left h3 {
    font-family: var(--font-hanken), sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: normal;

}

.destop-download-left p {
    font-family: var(--font-hanken), sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: normal;
    color: #D9D9D9;
}

.destop-download-right {
    width: 100%;
    /* background-color: tomato; */
}

.destop-download-os-container {
    width: 100%;
    max-width: 576px;
    /* background-color: yellow; */


    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 12px 20px;

    color: #5DA9DF;
}

.os-border {
    border-top: 1px solid #181818;

}

.destop-download-os-link:hover {
    color: #3B6889;

}


.destop-download-os-text {
    color: white;

    font-family: var(--font-hanken), sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: normal;
}

.destop-download-os-link {
    display: flex;
    flex-direction: row;

    gap: 8px;

    cursor: pointer;

    font-family: var(--font-hanken), sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: normal;
}

.destop-download-bottom {

    width: 100%;
    /* background-color: firebrick; */

    display: flex;

    justify-content: center;

    gap: 32px;
}

.destop-download-bottom-link span {

    width: fit-content;

    cursor: pointer;

    display: flex;
    flex-direction: row;

    gap: 8px;

    cursor: pointer;

    font-family: var(--font-hanken), sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: normal;

    align-items: center;

    color: #5DA9DF;
}

.destop-download-bottom-link span:hover {
    color: #3B6889;
}

@media screen and (max-width: 850px) {
    .downloads {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 770px) {


    .downloads {
        padding-left: 24px;
        padding-right: 24px;
    }

    .desktop-download-container,
    .mobile-download-container {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .destop-download-top {
        display: flex;
        flex-direction: column;

    }

    .destop-download-os-container {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .destop-download-os-link {
        font-size: 16px;
        line-height: 24px;
    }

    .destop-download-left {
        max-width: 100%;
    }

    .destop-download-bottom {
        flex-direction: column;

        gap: 0PX;


    }


}