@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.anki-title {
  width: 100%;
  /* background-color: red; */

  display: flex;
  flex-direction: row;

  justify-content: center;
  text-align: center;

  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: -1px;
  font-family: var(--font-hanken), sans-serif;
}

.anki-description-container {
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: center;
}

.anki-description {
  width: 100%;
  max-width: 672px;


  font-family: var(--font-hanken), sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: normal;

  display: flex;
  flex-direction: row;

  justify-content: center;

  /* background-color: blue; */

  text-align: center;


  margin-top: 12px;
}