.testimonials {
    width: 100%;
    /* height: 100vh; */
    /* background-color: purple; */

    margin-top: 96px;

    padding-left: 48px;
    padding-right: 48px;
}

.testimonials-card-container {
    width: 100%;
    /* background-color: lightcoral; */

    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-top: 98px;

    border-radius: 8px;
}

.testimonials-card {
    width: 100%;
    max-width: 986px;

    height: 100%;
    min-height: 384px;

    background-color: #5DA9DF;
    padding: 48px 64px;

    display: flex;
    flex-direction: column;

    gap: 5px;

    justify-content: space-between;

    border-radius: 8px;
}

.card-author-button-container {
    /* background-color: mediumaquamarine; */

    display: flex;
    flex-direction: row;

    justify-content: space-between;

}

.card-author {
    width: 100%;
    max-width: 490px;
    /* background-color: red; */

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.card-author p {
    font-family: var(--font-hanken), sans-serif;


    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: normal;

    cursor: pointer;
    color: black;
}

.card-author p:hover {
    color: #3B6989;
}

.card-button-container {

    /* background-color: green; */

    display: flex;
    flex-direction: row;

    gap: 16px;
}

.card-button-container {
    display: flex;
    flex-direction: row;
}

.card-button {
    cursor: pointer;
}

.card-button-image {
    width: 28px;
    height: 28px;
    stroke: black;
}

.card-button-image:hover {
    stroke: #3B6989;
}

.card-discription-container {
    width: 100%;
    /* background-color: chartreuse; */

    display: flex;
    flex-direction: column;

    gap: 24px;
}

.card-discription {
    width: 100%;
    /* background-color: fuchsia; */

    font-family: var(--font-hanken), sans-serif;

    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: normal;

    color: black;
}

@media screen and (max-width: 1022px) {
    .card-author p {
        font-size: 16px;
        line-height: 24px;
    }

    .card-discription {
        font-size: 18px;
        line-height: 28px;
    }

    .card-button-image {
        width: 24px;
        height: 24px;
    }

    .testimonials-card {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (max-width: 850px) {
    .testimonials {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 770px) {
    .testimonials {
        padding-left: 24px;
        padding-right: 24px;

    }
}