.navbar {
    width: 100%;
    height: 100dvh;
    background-color: black;

    position: fixed;

    inset: 0;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.navbar-header {
    width: 100%;
    /* background-color: red; */

    display: flex;
    flex-direction: row;

    justify-content: end;

    padding-top: 20px;
    padding-right: 36px;

}

.navbar-header button {
    cursor: pointer;
}

.navbar-links {
    padding-top: 35px;
    padding-left: 80px;

    font-family: var(--font-hanken), sans-serif;
    font-size: 30px;
    line-height: 36px;
    word-spacing: normal;

    display: flex;
    flex-direction: column;

    gap: 25px;


}

.navbar-link {
    display: flex;
    flex-direction: row;

    align-items: center;
    cursor: pointer;
}

.navbar-link:hover {
    width: fit-content;
    border-bottom: 2px solid #5DA9DF;
}

.navbar-download-container {
    width: 100%;
    padding-bottom: 80px;
    /* background-color: red; */

    display: flex;
    flex-direction: row;

    justify-content: center;

    padding-left: 80px;
    padding-right: 80px;
}

.navbar-download-container button {


    color: black;
    border-radius: 8px;

    width: 100%;
    max-width: 450px;
    background-color: #5DA9DF;

    padding: 16px 0px;

    font-family: var(--font-hanken), sans-serif;

    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    word-spacing: normal;
}

.navbar-download-container button:hover {
    background-color: #4684B2;

}