.footer {
    /* background-color: red; */
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;

    justify-content: center;

    font-family: var(--font-hanken), sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;

    color: white;

    text-align: center;

    padding-top: 34px;
    padding-bottom: 34px;
}